    <!DOCTYPE html> 
                 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
                <head> 
                    <title>Cadastro de Filmes</title> 
                <link rel="stylesheet" th:href="@{/bootstrap.css/bootstrap.min.css}">
                <link th:href="@{/css/}+${css}+'.css'" rel="stylesheet" type="text/css"/> 
                </head> 
                <body>
                  <header th:insert="navbar.html"></header> 
                    <h1>Cadastro de Filmes</h1> 
                
                    <form id="formCadastro"> <!-- th:action="@{/cadastro-filme}" method="post"> -->
                        <div> 
                           
                           <p>Título: <input id="nome" type="text" th:field="${filme.nome}" /> </p>
                        <p>Sinópse: <input id="sinopse" type="text" th:field="${filme.sinopse}" /> </p>
                        <p>Gênero: <input id="genero" type="text" th:field="${filme.genero}" /> </p> 
                        <p>Data de Lançamento: <input id="data" type="text" th:field="${filme.dataLancamento}" /> </p> 
                        </div> 
                        <button type="submit">Enviar</button> 
                    </form>
                <script th:src="@{/bootstrap.js/bootstrap.min.js}"></script>
                <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
                <script th:src="@{/js/cadastro.js}"></script>
                    
                </body> 
                </html> 