<!DOCTYPE html> 
                <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <!--<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> -->
                <head> 
                <title> Filme</title> 
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                    <link rel="stylesheet" th:href="@{/bootstrap.css/bootstrap.min.css}">
                    <link th:href="@{/css/}+${css}+'.css'" rel="stylesheet" type="text/css"/> 
                </head> 
                <body>
                   <header th:insert="navbar.html"></header> 
                   
                    <h1>Ficha Técnica</h1> 
                    <p>Nome do filme: <span th:text="${filme.nome}"/></p> 
                    <p>Sinópse: <span th:text="${filme.sinopse}" /></p> 
                    <p>Gênero: <span th:text="${filme.genero}" /></p> 
                   <p>Data de Lançamento: <span th:text="${filme.genero}" /></p>
                   
                   
                   <br/>
                   
                    <ul>
                    <p>Análises Cadastradas:</p> 
                    <li th:each="analise : ${analises}">
                        <!-- /analise/{id}  <a th:href="@{/filmes/{id}/editar(id=${filme.id})}"> -->
                        <a th:href="@{/analise/{id}(id=${analise.id})}" 
                           
                           th:text=" 'Análise' + ${analise.id}">
                        </a>

                        <button type="button"
                                class="btnExcluirAnalise"
                                th:data-id="${analise.id}">
                            Excluir
                        </button>

                        <a th:href="@{/analise/{id}/editar(id=${analise.id})}">
                            <button type="button">
                                Atualizar
                            </button>
                        </a>

                    </li> 

                </ul>
                   
                   <a th:href="@{/cadastro-analise}"> 
                            <button type="button">
                                Postar analise
                            </button>
                   </a>
                    <script th:src="@{/bootstrap.js/bootstrap.min.js}"></script>
                    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
                    <script th:src="@{/js/delete.js}"></script>
                   
                </body> 
                </html> 
