<!DOCTYPE html> 
<html> 
    <head> 
        <title>Site - página inicial</title> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/bootstrap.css/bootstrap.min.css}">
        <link th:href="@{/css/}+${css}+'.css'" rel="stylesheet" type="text/css"/> 
    </head> 
    <body>
       
        <h1>Olá <span th:text="${nome}"/> !</h1> 
        <p>Seja muito bem-vindo(a) ao site! </p>

        <a th:href="@{/cadastro-filme}"> <button type="button" > Cadastrar um Filme </button> </a> 
        <a th:href="@{/lista-filme}"> <button type="button" > Listar os Filmes cadastrados </button> </a> 
        <br/>
          <p>O estilo atual da página é <strong th:text="${css}" /></p> 
          <p>Você pode configurar suas preferências de exibição <a href="/preferencias">neste link</a></p> 
      
        <script th:src="@{/bootstrap.js/bootstrap.min.js}"></script>
    </body> 
</html> 
        
